
body {
    padding-left: 20%;
    padding-right: 20%;
    border-style: hidden;
    text-align: justify;
    background-color: antiquewhite;
 }

h1 {
    font-size: 50px;
    text-align: center;
    letter-spacing: 4px;
    margin-top: 0;
    margin-bottom: 84px;
    font-family: sans-serif;
    color: brown;
}

h2 {
    font-size: 25px;
    margin-bottom: 84px; 
    font-family: sans-serif;
    text-align: center;
    line-height: 1.4;
    text-transform: uppercase;
    font-weight: normal; 
    color: brown;   
}

h3 {
    font-size: 32px;
    margin-bottom: 4px;
    color: brown;
}

p {
    font-size: 22px;
    margin-top: 1px;
    margin-bottom: 20px;
    line-height: 1.4;
}